@media (max-width: 1200px) {
  .todo-page-dashboard-main-todosOverview-filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .todo-page-dashboard-main-todosOverview-filter-daily {
    color: white;
    display: flex;
    width: 50%;
    font-size: 1.1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: 4px solid var(--system-color);
    border-radius: 15px;
    margin-right: 20px;
    white-space: nowrap;
  }

  .todo-page-dashboard-main-todosOverview-filter-longTerm {
    color: white;
    border: 4px solid var(--system-color);
    border-radius: 15px;
    font-size: 1.1rem;
    width: 50%;
    white-space: nowrap;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .todo-page-main-collection-template-todos-todo-container-text {
    font-size: 1.2rem;
    width: 80% !important;
    word-wrap: break-word;
  }

  .todo-page-addCollection-popUp-container {
    width: 45% !important;
    height: 40% !important;
  }
}

@media (max-width: 1100px) {
  .dashboard-page {
    display: grid;
    grid-template: 100px 1fr / 100%;
  }

  .hidden {
    position: absolute;
    width: 0;
    height: 0;
    display: none !important;
    visibility: hidden !important;
    opacity: 0;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
  }

  .dashboard-page-sidebar {
    position: absolute;
    transition: all 0.5s ease;
    background-color: var(--system-color);
    color: white;
    z-index: 4;
    max-width: 400px;
    bottom: 0;
    height: 100%;
    grid-area: unset;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    animation: sidebar-animation 1s ease;
  }

  .dashboard-page-sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .dashboard-collections-container-header {
    margin: 0;
    padding: 0;
    margin-top: 200px;
    font-size: 3rem;
  }

  .dashboard-collections-container-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
  }

  .dashboard-collections-container-header a {
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
  }

  .dashboard-page-sidebar a:nth-child(1) {
    margin-top: 100px;
  }

  .dashboard-page-sidebar a {
    text-decoration: none;
    color: inherit;
  }

  .todo-page-main-collection-template {
    grid-column: 1 / 2 !important;
  }

  .dashboard-page-header {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    grid-area: 1 / 1 / 2 / 3;

    font-size: 0.8rem;
    display: grid;
    grid-template-rows: none;
    grid-template-columns: none;
    grid-template: 100% / 50% 50%;
  }

  .dashboard-page-header a {
    text-decoration: none;
    color: inherit;
  }

  .dashboard-page-header > .dashboard-page-header-TodosControls {
    width: 100%;
    height: 100%;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1 / 2;
  }

  .dashboard-page-header-TodosControls > svg {
    margin-left: 1rem;
    width: 40px;
    height: 40px;
  }

  .dashboard-page-header-TodosControls
    .dashboard-page-header-TodoControls-Dashboard {
    display: flex;
    width: 30%;
    cursor: pointer;
    height: 100%;
    color: darkgray;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-around;
  }

  .dashboard-page-header-TodosControls
    .dashboard-page-header-TodoControls-Collections {
    display: flex;
    cursor: pointer;
    width: 30%;
    color: darkgray;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-around;
  }

  .dashboard-page-header-TodosControls
    .dashboard-page-header-TodoControls-Dashboard {
    display: flex;
    width: 30%;
    cursor: pointer;
    height: 100%;
    color: darkgray;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-around;
  }

  .dashboard-page-header-TodosControls
    .dashboard-page-header-TodoControls-Collections {
    display: flex;
    cursor: pointer;
    width: 30%;
    color: darkgray;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-around;
  }

  .dashboard-page-header-TodosControls
    .dashboard-page-header-TodoControls-Collections
    > a,
  .dashboard-page-header-TodosControls
    .dashboard-page-header-TodoControls-Dashboard
    > a {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .dashboard-page-header > .dashboard-page-header-UserControls {
    height: 100%;
    width: 60%;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .dashboard-page-header-UserControls > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dashboard-page-header svg {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }

  .dashboard-page-header-UserControls > div:nth-child(1) > svg {
    background-color: var(--main-color);
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
  }

  .dashboard-page-header-UserControls > div:nth-child(1) > svg:hover {
    transform: scale(1.1) rotate(360deg);
    transition: all 0.5s ease;
  }

  /* Pop up Collection */

  .todo-page-addCollection-popUp-container {
    width: 50% !important;
  }

  .todo-page-addCollection-popUp-container-header {
    font-size: 1.6rem;
    padding: 10px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    white-space: nowrap;
  }

  .todo-page-addCollection-popUp-container input {
    height: 3rem;
    outline: none;
    color: white;
    border: none;
    background: transparent;
    font-size: 1.5rem;
  }

  /* Collection Page */

  .todo-page-main-collection {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 30% 70% / 10% 80% 10% !important;
    overflow-y: scroll;
  }
}

@media (max-width: 875px) {
  .dashboard-page-header {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    grid-area: 1 / 1 / 2 / 3;

    font-size: 0.8rem;
  }

  .todo-page-dashboard-main {
    display: grid;
    grid-template: 30% 70% / 10% 80% 10% !important;
    background-color: var(--system-black-color);
  }

  .todo-page-dashboard-main-heading > h3 {
    font-size: 1.8rem !important;
    font-weight: 700;
  }

  .todo-page-dashboard-main-heading > h1 {
    font-size: 1.5rem !important;
    font-weight: 700;
  }

  .dashboard-page-header-TodosControls
    .dashboard-page-header-TodoControls-Collections
    > a,
  .dashboard-page-header-TodosControls
    .dashboard-page-header-TodoControls-Dashboard
    > a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0rem;
  }
  .dashboard-page-header-UserControls {
    height: 100%;
    width: 100% !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .todo-page-addCollection-popUp-container {
    width: 65% !important;
  }

  .todo-page-main-collection-template-todos-todo-container-text {
    font-size: 1rem !important;
    width: 80% !important;
    word-wrap: break-word;
  }

  .todo-page-main-collection-template {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }

  .todo-page-main-collection-template-todos-todo-container-date {
    font-size: 1rem !important;
  }

  .todo-page-main-collection-template-todos-todo-container {
    height: auto !important;
  }

  .todo-page-main-collection-template-todos-todo-container-control {
    display: flex;
    flex-direction: column;
  }

  .todo-page-main-collection-template-todos-todo-container-control > svg {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }

  .todo-page-main-collection-template-todos-todo-container-checkbox {
    width: 2rem !important;
    height: 2rem !important;
  }

  .todo-page-main-collection-template-delete {
    position: absolute;
    top: 110px;
  }

  .collection-template-top-Header-h2 {
    font-size: 2rem !important;
    justify-self: center;
  }

  .collection-template-top-Header-ReturnButton {
    width: 2.6rem !important;
    height: 2.6rem !important;
    padding: 8px;
    justify-self: center;
  }

  .collection-template-top-TodoAdd-button {
    width: 2.6rem !important;
    height: 2.6rem !important;
    padding: 8px;
    justify-self: center;
  }
}

@media (max-width: 600px) {
  .todo-page-addCollection-popUp-container-header {
    font-size: 1.4rem !important;
  }

  .todo-page-addCollection-popUp-container input {
    font-size: 1.2rem !important;
    width: 80% !important;
  }

  .todo-page-addCollection-popUp-container {
    width: 90% !important;
  }
}

@media (max-width: 500px) {
  .todo-page-dashboard-main-heading > svg {
    visibility: hidden;
    display: none;
  }

  .todo-page-main-collection-template-todos-todo-container-date {
    font-size: 1rem !important;
  }

  .todo-page-main-collection-template-todos-todo-container {
    height: auto !important;
  }

  .todo-page-main-collection-template-todos-todo-container-control {
    display: flex;
    flex-direction: column;
  }

  .todo-page-main-collection-template-todos-todo-container-control > svg {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }

  .todo-page-main-collection-template-todos-todo-container-checkbox {
    width: 2rem !important;
    height: 2rem !important;
  }
}
