.auth-page {
  color: white;
  background-color: black;
  display: flex;
  min-height: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
}

.auth-page a {
  color: var(--main-color);
  text-decoration: none;
}

.auth-page > section {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-page > section > h1 {
  font-size: 3rem;
}

.auth-page > section > form {
  display: flex;
  width: 100%;
  max-width: 500px;
  flex-direction: column;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin: 10px;
}

.account-form > .input-container {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  padding: 15px;
  height: 100%;
  flex-direction: row;
  border-radius: 20px;
  border: 1px solid darkgray;
}

.account-form > .input-container > svg {
  width: 40px;
  aspect-ratio: 1 / 1;
}

.input {
  margin-left: 20px;
  color: white;
  background-color: transparent;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.input:focus {
  outline: none;
}

.button {
  width: 100%;
  max-width: 200px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--main-color);
  filter: brightness(90%);
}

.auth-page-block {
  background-color: dodgerblue;
  filter: blur(300px);
  width: 20%;
  position: absolute;
  aspect-ratio: 1 / 1;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

@keyframes blurringBlock1 {
  from {
    filter: blur(250px);
  }

  50% {
    translate: 100px;
  }

  to {
    translate: 0;
    filter: blur(600px);
  }
}

@keyframes blurringBlock2 {
  from {
    filter: blur(250px);
  }

  50% {
    translate: -100px;
  }

  to {
    translate: 0;
    filter: blur(600px);
  }
}

.auth-page-block:nth-child(2) {
  bottom: 0;
  border-top-right-radius: 100%;
  left: 0;
  animation: blurringBlock1 5s ease-in-out infinite alternate;
}

.auth-page-block:nth-child(3) {
  border-top-left-radius: 100%;
  top: 0;
  right: 0;
  animation: blurringBlock2 5s ease-in-out infinite alternate;
}
