.landing-page {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    display: grid;
    grid-template-rows: 15% 85%;
}

.landing-page-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    color: white;
    font-size: 2rem;
}

.landing-page-header > a {
    display: flex;
    grid-column: 1 / 2;
    justify-content: center;
    align-items: center;
}

.landing-page-header > a:nth-child(2) {
    display: flex;
    grid-column: 3 / 4;
    justify-content: center;
    align-items: center;
}

.landing-page-header > a:nth-child(3) {
    display: flex;
    grid-column: 4 / 5;
    justify-content: center;
    align-items: center;
}

.landing-page-header a {
    text-decoration: none;
    color: white;
}

.landing-page-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
}

.landing-page-main-text {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1 / 2;
    margin-left: 10%;
}

.landing-page-main-text > h1 {
    font-size: 4rem;
    color: white;
}

.landing-page-main-text > p {
    font-size: 1.5rem;
    color: #4E554C;
}

.landing-page-main-text button {
    margin-top: 5%;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1.5rem;
}

.landing-page-main-text a {
    text-decoration: none;
    color: white;
    width: 30%;
    height: 12%;
}

.landing-page-main-design {
    grid-column: 2 / 3;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
}

.landing-page-main-design > svg {
    position: absolute;
    left: 10px;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 100%;
}

.landing-page > .moving-shape {
    width: 200px;
    bottom: 0;
    height: 200px;
    background-color: dodgerblue;
    position: absolute;
    border-radius: 50%;
    filter: blur(180px);
    overflow: hidden;
    animation: moving-shape-landingPage 15s infinite;
}

@keyframes moving-shape-landingPage {
    from {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0px);
    }
}
